<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account has been deleted from Rotten Mangoes, <%= @user.full_name %></h1>
    <p>Later, suckah!</p>
  </body>
</html>